* {
  margin: 0;
  padding: 0;
}

.header {
  margin: 20px 0;
}

#inputGroup-sizing-default {
  width: 100px;
}

.input-group-text {
  justify-content: center;
}

.form {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid lightgray;
  width:350px;
  padding-left: 10px;
}

.form-group {
  display: grid;
  gap: 3px;
}

.LoginPage {
  width: 500px;
  display: grid;
  place-items: center;
  border: 1px solid lightgray;
  margin: 20px 0;
  border-radius: 5px;
}
